.droplet {
    position: absolute;
    display: none;
    font: 13px Verdana, Geneva, sans-serif;
    background: white;
    color: black;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,.4);
}

.droplet-item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px 14px;
    min-width: 120px;
    cursor: pointer;
}

.droplet-item:hover {
    background: rgba(238,238,238,1);
}

.droplet-icon {
    width: 20px;
    /*height: 20px;*/
    margin-right: 8px;
    font-size: 16px; /* for font-icons */
    color: #555555;
    text-align: center;
}

.droplet-subtitle {
    font-size: 9px;
    color: rgba(0,0,0,.7);
}

.droplet-content {
    flex-grow: 1;
}

.droplet-helper {
    margin-left: 42px;
    color: #777777;
}

.droplet-divider {
    position: relative;
    border-top: 1px solid rgba(235,235,235,1);
}

.droplet-folder {
    height: 0px;
    overflow: hidden;
    transition: height .5s;
}



/** UTILS **/
.droplet-icon-caret {
    font-size: 11px;
    transition: transform .5s;
}

.droplet-icon-caret.droplet-open {
    transform: rotate(90deg);
}


/** STYLE: DARK */
.droplet-dark {
    background: black;
    color: white;
}

.droplet-dark .droplet-icon {
    color: #d0d0d0;
}

.droplet-dark .droplet-item:hover {
    background: rgba(40,40,40,1);
}

.droplet-dark .droplet-subtitle {
    color: rgba(255,255,255,.7);
}

.droplet-dark .droplet-divider {
    border-top: 1px solid rgba(70,70,70,1);
}



