.glass-dark {
    background: black;
    color: white;
}

.glass-dark .glass-icon {
    color: #d0d0d0;
}

.glass-dark .glass-item:hover {
    background: rgba(40,40,40,1);
}

.glass-dark .glass-subtitle {
    color: rgba(255,255,255,.7);
}

.glass-dark .glass-divider {
    border-top: 1px solid rgba(70,70,70,1);
}